.App {
  text-align: center;
}

.check-in-form{
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
 border-style: solid;
 border-radius: 10px;
 border-width: 1px;
 width: 400px;
 font-size: medium;
 margin-top: 20px;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.check-in-form p{
  display: flex;
  flex-direction: row;
}
#name{
  display: inline-block;
  font-size: x-large;
  
}
#role{
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: x-large;
}
#password{
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: x-large;
}
.check-in-form button{
  margin: 5px 5px;
}
.check-in-form button:hover{
  margin: 5px 5px;
  cursor: pointer;
  background-color: rgb(108, 106, 106);
  color: grey;
}
